.destinationSwiper {
  height: 844px;
  .swiper-slide {
    height: 400px;
    background: #B2B2B2;
  }
}
.swiper-button-prev, .swiper-button-next {
  color: #FBAD27;
  margin-top: 0;
  position: initial;
  &::after {
    content: '';
  }
}
.swiper-button-disabled {
  color: #B8B8B8;
}
